@font-face {
  font-family: 'Bree5erif-Regular';
  src: url("./assets/Bree5erif-Regular.ttf");
}

@font-face {
  font-family: 'Bree5erif-Mono';
  src: url("./assets/Bree5erif-Mono.ttf");
}

body {
  font-family: 'Bree5erif-Regular';
}

.background {
  position: relative;
  left: 0;
  top: 0;
  z-index: -1;

  display: block;

  background: url(assets/space-60d.jpeg);
  background-size: cover;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);

  min-width: 100%;
  min-height: 100%;
}

.topnav {
  user-select: none;
  -webkit-user-select: none;
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  cursor: pointer;
  float: left;
  color: #f2f2f2;
  background-color: #444;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-left: 4px;
  border-radius: 4px;
  transition: background-color .1s;
}

.topnav a:hover, .dropdown-content a:hover {
  background-color: #545454;
}

.topnav a.active, .dropdown-content a.active {
  background-color: #6a6a6a;
}

.topnavdisable {
  background-color: #3d3d3d !important;
  color: #666 !important;
}

.topnavdisable:hover {
  background-color: #3d3d3d !important;
  color: #666 !important;
}

.topnavdisable2 {
  background-color: #3d3d3d !important;
  color: #666 !important;
  pointer-events: none;
}

.topnavdisable2:hover {
  background-color: #3d3d3d !important;
  color: #666 !important;
  pointer-events: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  margin-top: 51px;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  margin-left: 0px;
  float: none;
  padding: 12px 16px;
  color: #f2f2f2;
  text-decoration: none;
  display: block;
  text-align: left;
  border-radius: 0px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-separator {
  border-top: 1px solid gray;
  height: 0px;
  width: 100%;
}

.textInput {
  max-width: 32px;
  background-color: #444;
  color: #fff;
  outline: 2px solid #666;
  text-align: right;
  font-size: 17px;
  font-family: 'Bree5erif-Mono';

  position: relative;
  float: right;
  right: -5px;
  top: -5px;
}

.comparesourcecheckbox {
  -webkit-appearance: none;
  border-radius: 3px;
  background-color: #888;
  cursor: pointer;
}

.comparesourcecheckbox:checked {
  background-color: #fff;
}

#homepageButton {
  font-weight: bold;
  text-decoration: underline;
}

.dropdown-item {
  margin-left: 0px;
  float: none;
  padding: 6px 12px 10px;
  color: #f2f2f2;
  text-decoration: none;
  display: block;
  text-align: left;
  cursor: pointer;
  background-color: #444;
  font-size: 17px;
  transition: background-color .1s;
}

.dropdown-item:hover {
  background-color: #545454;
}

.not-dropdown-item {
  color: white !important;
  display: inline !important;
  background-color: transparent !important;
  text-align: left !important;
  padding: 0 !important;
  text-decoration: underline !important;
  font-size: 17px !important;
  margin-left: 0px !important;
}

.dropdown-button {
  flex: 1;
  margin-top: 4px;
  border-radius: 4px;
}

.deletebutton {
  transition: background-color .3s !important;
}

.deletebutton:hover {
  background-color: #C50000 !important;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  height: 30px; /* Specified height */
  border-radius: 5px;
  background: #777; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.85; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 30px; /* Set a specific slider handle width */
  height: 30px; /* Slider handle height */
  border-radius: 5px;
  background: #fff; /* Grey background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 30px; /* Set a specific slider handle width */
  height: 30px; /* Slider handle height */
  border-radius: 5px;
  background: #fff; /* Grey background */
  cursor: pointer; /* Cursor on hover */
}

.ticks {
  display: flex;
  justify-content: space-between;

  padding: 0px -1px;
  margin: 0px 15px;
  pointer-events: none;
}

.tick {
  position: relative;
  display: flex;
  justify-content: center;
  width: 4px;
  background: rgb(217, 217, 217);

  height: 30px;
  line-height: 50px;
  margin-bottom: 20px;
}

.boxcontainer {
  display: block;
  vertical-align: top;
}

.box {
  border: 1px solid gray;
  /* max-width: 200px; */
  background-color: rgba(51, 51, 51, 0.9);
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
}

.loader {
  border: 8px solid #999;
  /* Grey */
  border-top: 8px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 0.5s linear infinite;
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 5px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.tab {
  overflow: hidden;
  background-color: #555;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 16px;
  transition: 0.3s;
  color: white;
  border-radius: 4px;
  width: 48%;
  font-family: "Bree5erif-Regular";
  font-size: 16px;
  margin: 3px;
}

.tab button:hover {
  background-color: #666;
}

.tab button.active {
  background-color: #888;
}

#svgdata {
  transition: opacity 0.3s;
}
