@font-face {
  font-family: 'Bree5erif-Regular';
  src: url("./assets/Bree5erif-Regular.ttf");
}

@font-face {
  font-family: 'Bree5erif-Mono';
  src: url("./assets/Bree5erif-Mono.ttf");
}

body {
  font-family: 'Bree5erif-Regular';
}

.topnav {
  user-select: none;
  -webkit-user-select: none;
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  cursor: pointer;
  float: left;
  color: #f2f2f2;
  background-color: #444;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-left: 4px;
  border-radius: 4px;
}

.topnav a:hover, .dropdown-content a:hover {
  background-color: #545454;
}

.topnav a.active, .dropdown-content a.active {
  background-color: #6a6a6a;
}

.topnav #DEM {
  background-color: rgb(84, 102, 140);
}

.topnav #DEM:hover {
  background-color: rgb(28, 64, 140);
}

.topnav #DEM.active {
  background-color: rgb(28, 64, 140);
  /* background-color: rgb(34, 78, 182); */
}

.topnav #REP {
  background-color: rgb(191, 85, 92);
}

.topnav #REP:hover {
  background-color: rgb(191, 29, 41);
}

.topnav #REP.active {
  background-color: rgb(191, 29, 41);
  /* background-color: rgb(217, 33, 45); */
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  margin-top: 51px;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  z-index: 1;
  min-width: 231px;
}

/* Links inside the dropdown */
.dropdown-content a {
  margin-left: 0px;
  float: none;
  color: black;
  padding: 12px 16px;
  color: #f2f2f2;
  text-decoration: none;
  display: block;
  text-align: left;
  border-radius: 0px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-separator {
  border-top: 1px solid white;
  height: 0px;
  width: 100%;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  height: 15px; /* Specified height */
  border-radius: 5px;
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  border-radius: 50%;
  background: #777; /* Grey background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  border-radius: 50%;
  background: #777; /* Grey background */
  cursor: pointer; /* Cursor on hover */
}

.boxcontainer {
  display: block;
  vertical-align: top;
}

.box {
  border: 1px solid white;
  /* max-width: 200px; */
  background-color: rgba(68,68,68,0.8);
  color: white;
  padding-left:10px;
  padding-right:10px;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
}

.loader {
  border: 8px solid #999;
  /* Grey */
  border-top: 8px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 0.5s linear infinite;
  display: inline-block;
  margin-left: 80px;
  margin-bottom: 5px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
