@font-face {
  font-family: 'Bree5erif-Regular';
  src: url("./assets/Bree5erif-Regular.ttf");
}

@font-face {
  font-family: 'Bree5erif-Mono';
  src: url("./assets/Bree5erif-Mono.ttf");
}

html {
  font-size: 0.056vw;
}

body {
  font-family: 'Bree5erif-Regular';
}

.background {
  position: relative;
  left: 0;
  top: 0;
  z-index: -1;

  display: block;

  background: url(assets/space-60d.jpeg);
  background-size: cover;

  -webkit-filter: blur(5rem);
  -moz-filter: blur(5rem);
  -o-filter: blur(5rem);
  -ms-filter: blur(5rem);
  filter: blur(5rem);

  min-width: 100%;
  min-height: 100%;
}

.topnav {
  user-select: none;
  -webkit-user-select: none;
  overflow: hidden;
  background-color: #333;
  padding: 4rem;
}

.topnav a {
  cursor: pointer;
  float: left;
  color: #f2f2f2;
  background-color: #444;
  text-align: center;
  padding: 14rem 16rem;
  text-decoration: none;
  font-size: 17rem;
  margin-left: 4rem;
  border-radius: 4rem;
  transition: background-color .1s;
}

.topnav a:hover, .dropdown-content a:hover {
  background-color: #545454;
}

.topnav a.active, .dropdown-content a.active {
  background-color: #6a6a6a;
}

.topnavdisable {
  background-color: #3d3d3d !important;
  color: #666 !important;
  pointer-events: none;
}

.topnavdisable:hover {
  background-color: #3d3d3d !important;
  color: #666 !important;
  pointer-events: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16rem;
  border: none;
  outline: none;
  color: white;
  padding: 14rem 16rem;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  margin-top: 51rem;
  /* box-shadow: 0rem 8rem 16rem 0rem rgba(0,0,0,0.2); */
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  margin-left: 0rem;
  float: none;
  padding: 12rem 16rem;
  color: #f2f2f2;
  text-decoration: none;
  display: block;
  text-align: left;
  border-radius: 0rem;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-separator {
  border-top: 1rem solid gray;
  height: 0rem;
  width: 100%;
}

.textInput {
  max-width: 32rem;
  background-color: #444;
  color: #fff;
  outline: 2rem solid #666;
  text-align: right;
  font-size: 17rem;
  font-family: 'Bree5erif-Mono';

  position: relative;
  float: right;
  right: -5rem;
  top: -5rem;
}

.comparesourcecheckbox {
  -webkit-appearance: none;
  border-radius: 3rem;
  background-color: #888;
  cursor: pointer;
}

.comparesourcecheckbox:checked {
  background-color: #fff;
}

#homepageButton {
  font-weight: bold;
  text-decoration: underline;
}

.dropdown-item {
  margin-left: 0rem;
  float: none;
  padding: 6rem 12rem 10rem;
  color: #f2f2f2;
  text-decoration: none;
  display: block;
  text-align: left;
  cursor: pointer;
  background-color: #444;
  font-size: 17rem;
  transition: background-color .1s;
}

.dropdown-item:hover {
  background-color: #545454;
}

.not-dropdown-item {
  color: white !important;
  display: inline !important;
  background-color: transparent !important;
  text-align: left !important;
  padding: 0 !important;
  text-decoration: underline !important;
  font-size: 17rem !important;
  margin-left: 0rem !important;
}

.dropdown-button {
  flex: 1;
  margin-top: 4rem;
  border-radius: 4rem;
}

.deletebutton {
  transition: background-color .3s !important;
}

.deletebutton:hover {
  background-color: #C50000 !important;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
  height: 30rem;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  height: 30rem; /* Specified height */
  width: 921rem;
  border-radius: 5rem;
  background: #777; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.85; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 30rem; /* Set a specific slider handle width */
  height: 30rem; /* Slider handle height */
  border-radius: 5rem;
  background: #fff; /* Grey background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 30rem; /* Set a specific slider handle width */
  height: 30rem; /* Slider handle height */
  border-radius: 5rem;
  background: #fff; /* Grey background */
  cursor: pointer; /* Cursor on hover */
}

#totalsPieChart {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 27.5%;
}

.ticks {
  display: flex;
  justify-content: space-between;
  width: 895rem;

  padding: 0rem -1rem;
  margin: 0rem 15rem;
  pointer-events: none;
}

.tick {
  position: relative;
  display: flex;
  justify-content: center;
  width: 4rem;
  background: rgb(217, 217, 217);

  height: 29.5rem;
  line-height: 49.5rem;
  margin-bottom: 20rem;
}

.boxcontainer {
  display: block;
  vertical-align: top;
}

.box {
  border: 1rem solid gray;
  /* max-width: 200rem; */
  background-color: rgba(51, 51, 51, 0.9);
  color: white;
  padding-left: 10rem;
  padding-right: 10rem;
  border-radius: 5rem;
  font-size: 20rem;
  text-align: center;
}

.boxfixed {
  border: 1px solid gray;
  /* max-width: 200rem; */
  background-color: rgba(51, 51, 51, 0.9);
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
}

.loader {
  border: 8rem solid #999;
  /* Grey */
  border-top: 8rem solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 34rem;
  height: 34rem;
  animation: spin 0.5s linear infinite;
  display: inline-block;
  margin-left: 5rem;
  /* margin-bottom: 5rem; */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.progress-loader {
  width: 50rem;
  height: 50rem;
  display: inline-block;
  margin-left: 8rem;
  font-size: 12rem;
}

.progress-loader > svg {
  overflow: visible;
}

#svgdata {
  transition: opacity 0.3s;
}
